// Breakpoints
$extra-small-device: 0;
$small-device: 576px;
$medium-device: 768px;
$large-device: 992px;
$extra-large-device: 1200px;

$breakpoints: (
  "extra-small": $extra-small-device,
  "small": $small-device,
  "medium": $medium-device,
  "large": $large-device,
  "extra-large": $extra-large-device,
);

$extra-small-container: auto;
$small-container: 540px;
$medium-container: 720px;
$large-container: 960px;
$extra-large-container: 1140px;

$containers: (
  "extra-small": $extra-small-container,
  "small": $small-container,
  "medium": $medium-container,
  "large": $large-container,
  "extra-large": $extra-large-container,
);

// Shadows
$shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);

// Borders
$regular-border-radius: 12px;
$medium-border-radius: 16px;
$large-border-radius: 16px;
$larger-border-radius: 24px;

// Colors
$primary: #2d9cdb;
$success: #27ae60;
$danger: #eb5757;
$theme-color: #100e1d;
$white: #ffffff;
$gray-0: #e0e0e0;
$gray-100: #bdbdbd;
$gray-200: #a9a9a9;
$gray-300: #828282;
$gray-400: #4f4f4f;
$gray-500: #333333;

$colors: (
  "primary": $primary,
  "success": $success,
  "danger": $danger,
  "theme": $theme-color,
  "white": $white,
  "gray-lightest": $gray-0,
  "gray-lighter": $gray-100,
  "gray-light": $gray-200,
  "gray": $gray-300,
  "gray-dark": $gray-400,
  "gray-darker": $gray-500,
);

// Font sizes
$base-font-size: 10px;
$small-font-size: 1.2rem;
$regular-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$large-font-size: 2.4rem;

$font-sizes: (
  "base": $base-font-size,
  "small": $small-font-size,
  "regular": $regular-font-size,
  "medium": $medium-font-size,
  "large": $large-font-size,
);

// Font family
$font-family: "Poppins", sans-serif;
$header-font-family: "Heebo", sans-serif;

// Font weights
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$extra-bold-font-weight: 800;

$font-weights: (
  "light": $light-font-weight,
  "regular": $regular-font-weight,
  "medium": $medium-font-weight,
  "bold": $bold-font-weight,
  "extra-bold": $extra-bold-font-weight,
);
