.icon {
  height: 67px;
  width: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $medium-border-radius;
  color: color("white");

  span {
    font-size: 32px;
  }
}

.icon-primary {
  background-color: color("primary");

  @extend .icon;
}

.icon-success {
  background-color: color("success");

  @extend .icon;
}

.icon-danger {
  background-color: color("danger");

  @extend .icon;
}
