.footer {
  background-color: color("theme");
  padding: 45px;

  .small-container {
    display: flex;
    flex-direction: column;

    @include medium-device {
      flex-direction: row;
      justify-content: space-between;
    }

    .social-media {
      margin-top: 65px;

      @include medium-device {
        margin-top: 0;
      }

      .logo {
        color: color("white");
      }

      .icons {
        display: flex;
        margin-top: 8px;

        div {
          color: color("white");
          font-size: 2.4rem;
          margin-right: 11px;
          cursor: pointer;
        }
      }
    }

    .footer-nav {
      ul {
        li {
          a {
            color: color("white");
            font-size: font-size("medium");
            line-height: 3.6rem;
          }
        }
      }
    }

    .contact {
      margin-top: 65px;

      @include medium-device {
        margin-top: 0;
      }
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    margin-top: 100px;

    a {
      color: color("gray-light");
      text-decoration: none;
    }
  }
}
