header {
  padding: 10px;
  display: flex;
  justify-content: space-between;

  @include medium-device {
    padding: 20px;
  }

  @include large-device {
    padding: 50px;
  }

  .hamburger {
    cursor: pointer;
    z-index: 1001;
    .line {
      background: black;
      width: 35px;
      height: 3px;
      margin: 6px 0;
      transition: 0.2s;
    }

    @include medium-device {
      display: none;
    }
  }

  .nav-bg {
    background: color("theme");
    height: 0;
    width: 0;
    transition: all 0.3s ease-out;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;

    @include medium-device {
      display: none;
    }
  }

  nav {
    display: none;
    flex-wrap: wrap;

    .nav-list {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      z-index: 1001;
      text-align: center;

      .nav-link {
        color: color("white");
        font-size: font-size("large");
        line-height: 5rem;
        transition: all 0.2s;

        &:hover {
          color: color("primary");
        }

        @include medium-device {
          font-size: font-size("medium");
          font-weight: font-weight("medium");
          line-height: 2.7rem;
          color: color("gray-darker");
        }

        @include large-device {
          font-size: font-size("large");
          font-weight: font-weight("medium");
          line-height: 3.6rem;
          color: color("gray-darker");
        }
      }

      .nav-item {
        cursor: pointer;
        @include medium-device {
          margin: 0 30px;
        }
      }

      @include medium-device {
        position: relative;
        transform: 0;
        display: flex;
      }
    }

    @include medium_device {
      display: flex;
      flex-direction: row;
    }
  }

  .logo {
    z-index: 1001;

    @include large-device {
      font-size: font-size("extra-large");
      font-weight: font-weight("extra-bold");
      font-family: $header-font-family;
      color: color("gray-darker");
      line-height: 3.5rem;
    }
  }

  //   Apply these changes if navbar has been opened
  &.open {
    // logo on the left side
    .logo {
      color: color("white");

      @include medium-device {
        color: color("gray-darker");
      }
    }

    // Hamburger bars
    .hamburger {
      .line {
        background: color("white");
      }

      .line:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
      }

      .line:nth-child(2) {
        opacity: 0;
        transform: translateX(-10px);
      }

      .line:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -8px);
      }
    }

    // background when navbar is opened
    .nav-bg {
      height: 100vh;
      width: 100%;
    }

    nav {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;

      @include medium-device {
        position: relative;
        width: auto;
        height: auto;
      }
    }
  }
}
