.projects {
  margin-top: 100px;

  @include large-device {
    margin-top: 180px;
  }

  .heading {
    @include large-device {
      font-size: 3.6rem;
      line-height: 5.4rem;
    }
  }

  .paragraph {
    font-weight: font-weight("light");
  }

  .grid {
    margin-top: 50px;
    display: grid;
    gap: 35px;
    grid-template-columns: 351px; //auto;

    @include large-device {
      margin-top: 0;
      grid-gap: 100px;
      grid-template-columns: repeat(auto-fit, minmax(351px, 45%));
    }
  }

  .project-card:first-child {
    @include large-device {
      margin-top: 180px;
    }
  }

  .project-card:last-child {
    @include large-device {
      margin-top: -180px;
    }
  }

  .project-card {
    .image-wrapper {
      width: auto;
      height: auto;
      //   @include large-device {
      //     // width: 450px;
      //     // height: 450px;

      //   }

      //   @include extra-large-device {
      //     // width: 543.02px;
      //     // height: 545.02px;
      //   }
    }

    .paragraph {
      @include large-device {
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin-top: 20px;
      }
    }
  }

  .link-wrapper {
    margin-top: 35px;

    @include large-device {
      margin-top: -40px;
      width: 100%;
      text-align: right;
    }
    .link {
      font-size: font-size("medium");
      line-height: 2.7rem;
      cursor: pointer;

      @include large-device {
        font-size: font-size("large");
        line-height: 3.6rem;
      }
    }
  }
}
