.services {
  margin-top: 100px;

  @include large-device {
    margin-top: 200px;
  }

  .grid {
    padding-top: 80px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    align-items: center;

    @include medium-device {
      grid-template-columns: auto auto;
    }

    @include extra-large-device {
      grid-template-columns: repeat(auto-fit, minmax(351px, 30%));
    }
  }

  .heading {
    @include large-device {
      font-size: font-size("extra-large");
      line-height: 5.6rem;
    }
  }
}
