.teams {
  margin-top: 100px;

  @include large-device {
    margin-top: 200px;
  }

  .xl-heading {
    margin-top: 7px;
    line-height: 5.4rem;
  }

  .text {
    margin-top: 14px;
  }

  .flex {
    display: flex;
    flex-direction: column;

    @include medium-device {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .images {
    margin-top: 35px;
    display: flex;

    // @include medium-device {
    //   margin-left: 150px;
    // }

    // @include large-device {
    //   margin-left: 180px;
    // }

    img {
      max-width: 180px;
      border-radius: $larger-border-radius;
      padding: 5px;
    }

    .left {
      margin-top: 65px;
    }

    .person1 {
      width: 180px;
      height: 180px;

      @include medium-device {
        min-width: 200px;
        height: 220px;
      }

      @include large-device {
        min-width: 320px;
        height: 320px;
      }
    }

    .person2 {
      width: 145px;
      height: 145px;

      @include medium-device {
        min-width: 170px;
        height: 180px;
      }

      @include large-device {
        min-width: 260px;
        height: 260px;
      }
    }

    .person3 {
      width: 165px;
      height: 165px;

      @include medium-device {
        min-width: 190px;
        height: 190px;
      }

      @include large-device {
        min-width: 291.43px;
        height: 300px;
      }
    }

  }
}
